.auth-layout {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fafb;
}

.auth-card {
  width: 100%;
  max-width: 420px;
  padding: 30px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.auth-title {
  text-align: center;
  margin-bottom: 20px;
}


.auth-input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 6px;
  border: 1px solid #d0d7de;
  margin-bottom: 14px;
  font-size: 14px;
  background-color: white;
}

.auth-input:focus {
  outline: none;
  border-color: #387ed1;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  background: #387ed1;
  color: white;
  border: none;
  font-weight: 600;
}
